{% extends 'Master_temp.html' %}
{% load static %}
{% block page_main %}
    <main>
        <section>
            <h1>Home</h1>
            <!-- Image header -->
            <div class="w3-display-container w3-container">
                <img src="{% static 'pastor_doc.jpg'%}" alt="Pastor" style="width:100%">
                <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
                    <h1 class="w3-jumbo w3-hide-small">Latest Preaching</h1>
                    <h1 class="w3-hide-large w3-hide-medium">Latest Preaching</h1>
                    <h1 class="w3-hide-small">Pastor Doc - 'What & Where is your Confidence?'</h1>
                    <p><a href="https://www.facebook.com/pagasa.centre/videos/496656682407074/" target="blank_" class="w3-button w3-black w3-padding-large w3-large">Watch Now</a></p>
                </div>
            </div>
            <h3>THIS IS THE HOME PAGE</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </section>
    </main>
{% endblock %}