{% extends 'Master_temp.html' %}
{% load static %}
{% block page_main %}
    <main>
        <section>
            <h1>Home</h1>
            <!-- Image header -->
            <div class="home-image">
                <img src="{% static 'pastor_doc.jpg'%}" alt="Pastor">
                <div class="home-image-text">
                    <h1 id="home-main-headings">WELCOME TO PAG-ASA CENTRE</h1>
                    <p id="home-main-headings-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore </p>
                    <button class="home-button">JOIN SERVICE</button>
                </div>
                
            </div>
            <h3>THIS IS THE HOME PAGE</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </section>
    </main>
    <br>
{% endblock %}