{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Pagasa Centre Website</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static 'main.css' %}">
        <link rel="stylesheet" href="{% static 'info.css' %}">
        <link rel="stylesheet" href="{% static 'home.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <script src="{% static 'main.js' %}"></script>
    </head>

    <body>
        <!-- Topbar/menu -->
        <div class="navbar-container">
            <div class = "logo-container">
                <img src="{% static 'pagasa logo.png' %}" alt="Logo" width="100%" style="z-index:3;width:80px; float:left;">
            </div>
            <div class="navbar">
                <a href="/">Home</a>
                <a href="/Information">Info</a>
                <a href="/Gallery">Gallery</a>
                <div class="subnav">
                    <button class="subnavbtn">Archive<i class="fa fa-caret-down"></i></button>
                    <div id="subnav-evang-content">
                        <a href="/Evangelistic Night">Evangelistic Night</a>
                        <a href="#" >Bible Study</a>
                        <a href="#" >Wildsons</a>
                        <a href="#" >Cell Celebration</a>
                        <a href="#" >SOL &amp; LifeClass</a>
                    </div>
                </div>
                <div class="subnav">
                    <button class="subnavbtn">Cell Group<i class="fa fa-caret-down"></i></button>
                    <div id="subnav-cellgroup-content">
                        <a href="/Cell_Group" >VIP</a>
                        <a href="#">Need a cell</a>
                        <a href="#">Cell Leaders</a>
                    </div>
                </div>
                <a href="#" >Students</a>
                <a href="#">Sunday School</a>
            </div>
            
        </div>

        {% block page_main %}
        {% endblock %}

        <!-- Subscribe section -->
        <div >
            <h1>Subscribe</h1>
            <p>To get updates on our upcoming events and services</p>
            <p><input  type="text" placeholder="Enter e-mail" style="width:100%"></p>
            <button type="button" >Subscribe</button>
        </div>
        <!-- Footer -->
        <footer id="footer">
            <div >
            <div >
                <h4>Contact</h4>
                <p>Questions? Go ahead.</p>
                <form action="/action_page.php" target="_blank">
                <p><input type="text" placeholder="Name" name="Name" required></p>
                <p><input type="text" placeholder="Email" name="Email" required></p>
                <p><input type="text" placeholder="Subject" name="Subject" required></p>
                <p><input type="text" placeholder="Message" name="Message" required></p>
                <button type="submit">Send</button>
                </form>
            </div>

            <div >
                <h4>About</h4>
                <p><a href="#">About us</a></p>
                <p><a href="#">Help Serve</a></p>
                <p><a href="#">Support</a></p>
                <p><a href="https://www.google.co.uk/maps/place/Dagenham+Park+Leisure+Centre/@51.5351214,0.1528867,17z/data=!3m1!4b1!4m5!3m4!1s0x47d8a56d638ff81f:0xb32a22b1bcd15f41!8m2!3d51.5351153!4d0.1551143" target="_blank">
                    Address</a></p>
                <p><a href="#">Tithe &amp; Love Offering</a></p>
            </div>

            <div >
                <h4>Store</h4>
                <p><i class="fa fa-fw fa-map-marker"></i> Pag-Asa Centre Church</p>
                <p><i class="fa fa-fw fa-phone"></i> 0044123123</p>
                <p><i class="fa fa-fw fa-envelope"></i> Pag-Asa_Centre@gmail.com</p>
                <h4>We accept</h4>
                <p><i class="fa fa-fw fa-cc-amex"></i> Amex</p>
                <p><i class="fa fa-fw fa-credit-card"></i> Credit Card</p>
                <br>
                <a href="https://www.facebook.com/pagasacentreofficial/"  target="_blank"><i class="fa fa-facebook-official w3-hover-opacity w3-large"></i></a>
                <a href="https://www.instagram.com/pagasacentre/"  target="_blank"><i class="fa fa-instagram w3-hover-opacity w3-large"></i></a>
            </div>
            </div>
            <p>© 2022 Pag-Asa Centre All rights reserved</p>
        </footer>
        <div >Powered by <a href="https://www.bible.com/en-GB/" title="Jesus" target="_blank" >Christ</a></div>
    </body>
</html>