<!DOCTYPE html>
<html>
    <head>
        <title>Pagasa Centre Website</title>
    </head>

    <body>
        <header>
            <h1>Pag-Asa Centre</h1>
            <Nav>
                <ul>
                    <li><a href="Home">Home</a></li>
                    <li><a href="Information">Info</a></li>
                    <li><a href="">Gallery</a></li>
                    <li><a href="">Archive</a></li>
                    <li><a href="">Cell Group</a></li>
                    <li><a href="">Sunday School</a></li>
                </ul>
            </Nav>
        </header>
        <div>
            <h1>Add Member</h1>
            <form action="addrecord/" method="post">
                {% csrf_token %}
                First Name:<br>
                <input name="first">
                <br><br>
                Last Name:<br>
                <input name="last">
                <br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
        
        <footer>
            <p>© 2022 Pag-Asa Centre All rights reserved</p>
        </footer>
    </body>
</html>