<!DOCTYPE html>
<html>
    <head>
        <title>Pagasa Centre Website</title>
    </head>

    <body>
        <header>
            <h1>Pag-Asa Centre</h1>
            <Nav>
                <ul>
                    <li><a href="Members">Home</a></li>
                    <li><a href="Information">Info</a></li>
                    <li><a href="">Gallery</a></li>
                    <li><a href="">Archive</a></li>
                    <li><a href="">Cell Group</a></li>
                    <li><a href="">Sunday School</a></li>
                </ul>
            </Nav>
        </header>

        <main>
              <h1>Information</h1>
              <p>THIS IS THE INFORMATION PAGE</p>
        </main>
          
        <footer>
            <p>© 2022 Pag-Asa Centre All rights reserved</p>
        </footer>
    </body>
</html>