{% extends 'Master_temp.html' %}
{% block page_main %}
    <main>
        <section>
            <h2>Church Members</h2>
            <p>THIS IS THE CHURCH MEMEBERS PAGE</p>
        </section>
        <section>
            <h2>Current members</h2>
            <table border="1">
                {% for x in mymembers %}
                <tr>
                <td>{{ x.id }}</td>
                <td>{{ x.firstname }}</td>
                <td>{{ x.lastname }}</td>
                <td><a href="update/{{ x.id }}">Edit</a></td>
                <td><a href="delete/{{ x.id }}">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
            <p>
            <a href="add/">Add member</a>
            </p>
        </section>
    </main>
    <br><br>
{% endblock %}