<!DOCTYPE html>
<html>
    <head>
        <title>Pagasa Centre Website</title>
    </head>

    <body>
        <header>
            <h1>Pag-Asa Centre</h1>
            <Nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/Information">Info</a></li>
                    <li><a href="">Gallery</a></li>
                    <li><a href="">Archive</a></li>
                    <li><a href="/Cell_Group">Cell Group</a></li>
                    <li><a href="">Sunday School</a></li>
                </ul>
            </Nav>
        </header>

        <main>
            <section>
                <h2>Edit Member</h2>
                <p>Edit member details below</p>
            </section>
            <section>
                <form action="updaterecord/{{mymember.id}}" method="post">
                    {% csrf_token %}
                    First Name:<br>
                    <input name="first" value="{{ mymember.firstname }}">
                    <br><br>
                    Last Name:<br>
                    <input name="last" value="{{ mymember.lastname }}">
                    <br><br>
                    <input type="submit" value="Submit">
                </form>
            </section>
            
        </main>
          
        <footer>
            <p>© 2022 Pag-Asa Centre All rights reserved</p>
        </footer>
    </body>
</html>