{% extends 'Master_temp.html' %}
{% block page_main %}
    <main>
        <section>
            <h2>Edit Member</h2>
            <p>Edit member details below</p>
        </section>
        <section>
            <form action="updaterecord/{{mymember.id}}" method="post">
                {% csrf_token %}
                First Name:<br>
                <input name="first" value="{{ mymember.firstname }}">
                <br><br>
                Last Name:<br>
                <input name="last" value="{{ mymember.lastname }}">
                <br><br>
                <input type="submit" value="Submit">
            </form>
        </section>
    </main>
{% endblock %}        