@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
  --bs-body-font-family: 'Montserrat', sans-serif !important;
}

.btn-light {
  --bs-btn-border-color: #f8f9fa!important;
  --bs-btn-hover-color: #f8f9fa!important;
  --bs-btn-hover-bg: #3ea463!important;
  --bs-btn-hover-border-color: #3ea463!important;
}
.navbar-nav {
  --bs-nav-link-hover-color: #3ea463!important;
}
.btn-dark {
  --bs-btn-hover-bg: #3ea463!important;
}



@import "../../node_modules/bootstrap/scss/bootstrap";

