.Card {
  box-sizing: content-box;
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.cards-subtitle-container {
  width: 60%;
}
.button-text-container {
  width: 40%;
}

.card-image{
  width:100%;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .card-image {
    width: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .card-image {
    width: 100%;
  }
}